$breakpoint-tablet: 768px;
@mixin disable-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
}

#time_to {
    margin-top: 10vh;
    font-size: 6em;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    background: #aaaaaa;
    cursor: pointer;
    @include disable-selection;

}
#event_name {
    margin-top: 10vh;
}
@media (max-width: $breakpoint-tablet) {
  #time_to {
    width: 100vw;

  }
}