#time_to {
    margin-top: 10vh;
    font-size: 6em;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    background: #aaaaaa;
    cursor: pointer;
}
#event_name {
    margin-top: 10vh;
}