@import "footer";
@import "menu";

$mat_red: #f44336;
.datepicker-date-display,
.datepicker-table td.is-selected,
.timepicker-digital-display {
  background-color: $mat_red;
}
.datepicker-table td.is-today,
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done,
.timepicker-close {
  color: $mat_red;
}
div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
  background-color: $mat_red;
}
.datepicker input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.btn-large {
  margin-left: auto;
  margin-right: auto;
}
