@import "footer";
@import "menu";

$breakpoint-tablet: 768px;
@mixin disable-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
}

#time_to {
    margin-top: 10vh;
    font-size: 6em;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    background: #aaaaaa;
    cursor: pointer;
    @include disable-selection;
}
#event_name {
    margin-top: 10vh;
}
@media (max-width: $breakpoint-tablet) {
  #time_to {
    width: 100vw;

  }
}
#installContainer {
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

#installContainer button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  padding: 0.75em;
}

#output li {
  list-style: circle;
  left:0;
  right:0;

  margin-left: auto;
  margin-right: auto;

  position: absolute;
  width: 40%;
}

#output {
  margin-top: 50px;
  margin-bottom: 50px;

  left:0;
  right:0;

  margin-left: auto;
  margin-right: auto;

  width: 40%;
  padding-bottom: 50px;
  padding-top: 20px;
  background: #202020 !important;
}

#confetti-holder {
  position: absolute;
  left: 0;
  top: 70px;
}