@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav > * {
  @apply py-4;
  @apply px-4;
}

nav > *:hover {
  background: #181818;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #0c0b12;
    color: white;
  }
}